
  .link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #2a363b;
  }
  
  .active {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #5bb66f;
  }